<!DOCTYPE html>
<head>
<title>Ballroom Tinder</title>
<link rel="stylesheet" type="text/css" href="../public/css/main.css">
</head>
<body>
	<h2>Speechless: Anonymous Course Review </h2>
    <div class="nav">
        <a href="/">All Reviews</a>
        <a href="/reviews/mine">My Reviews</a>
        <a href="/reviews/add">Add Review!</a>
    </div>
	{{{ body }}}

	<h3>Your session's total page visited: {{visits}}</h3>
</body>
</html>