<!DOCTYPE html>
<head>
  {{{head}}}
<title>Ballroom Connect</title>
<script src="https://apis.google.com/js/platform.js" async defer></script> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src = "../app.js"></script>
<meta name="google-signin-client_id" content="http://758238718824-lmmtqhncmcqiah0ibpmk50hkhcdisc08.apps.googleusercontent.com">

<!-- <meta name="google-signin-client_id" content="http://758238718824-lmmtqhncmcqiah0ibpmk50hkhcdisc08.apps.googleusercontent.com">
 -->

<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>



	<h2>Ballroom Connect</h2>

	{{{ body }}}

</body>
</html>