<div class = "nav">
	<a href = "/about">about us</a>
</div>

<div id = "signin">
	<a href="/auth/google"><b>Sign in with google</b></a></br></br>
	<alert>Log in without google account or appointment service 👇</alert></br></br>

	<form method = "POST" action = "/login">
		Username: <input type = "text" name="username" value = ""></br></br>
		Password: <input type = "password" name="password" value = ""></br></br>
		I am a:</t>
			<input type = "radio" name = "type" value = "student">
			Student
			<input type = "radio" name = "type" value = "teacher">
			Teacher
			</br></br>
		<input type = "submit" value = "Login" style = "font-size: 20px">
		</br></br>
	</form>
	<a href = "mailto:sc6220@nyu.edu" style="display: inline-block; left: 50%">account issues?</a></br>

	
	
</div>


<div id = "signup">

	<p style = "color:red">{{errormsg}}</p>

	<b>don't have an account?</b></br>
    <div style = "display:inline-block">
    	<a href="/auth/google">First, log in with google, then:</a></br>
    	<alert>^optional, receive fast-track registration and appointment services</alert></br></br>
		</br>
        <a href="/register-teacher">register as teacher</a></br>
        <a href="/register-student">register as student</a></br>
    </div>


</div>