<div id = "signin">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
	don't have an account?
    <div class="nav">
        <a href="/register-teacher">register as teacher</a>
        <a href="/register-student">register as student</a>
        <a href="/about">about ballroom connect</a>
    </div>


</div>