<head>
	<a href = "/">Back to Log In</a>
</head>
<body>
<p>Welcome new student!</p>
	<form method = "POST" action = "/add-student">
		Username:<input type = "text" name = "username" value = ""><label style = "color:red">*required</label></br></br>

		Password:<input type = "password" name = "password" value = ""><label style = "color:red">*required</label></br></br>

		A picture of you:<input type = "file" name = "headshot" accept="image/*"><label style = "color:red">*required</label></br></br>

		Styles (separated by comma):</br><textarea style = "width: 600px;height: 200px" name = "styles" value = ""></textarea></br></br>

		About You:</br><textarea style = "width: 600px;height: 200px" name = "profile" value = ""></textarea></br></br>

		<input style = "width: 200px; height: 200px"type = "submit" value = "get started as student!">
	</form>
</body>