<p>Welcome new teacher!</p>
	{{#if errmsg}}
		<ul>
		{{#each errmsg.errors}}
			<li><alert>{{message}}</alert></li>
		{{/each}}
		</ul>
	{{/if}}

<form method = "POST" action = "/add-teacher">
	Username:<input type = "text" name = "username" value = ""><alert>*required</alert></br></br>

	Password:<input type = "password" name = "password" value = ""><alert>*required</alert></br></br>

	Profile Photo:<input type = "file" name = "headshot" accept="image/*"><alert>*required</alert></br></br>

	Portfolio:<input type = "file" name = "portfolio" accept="image/*, video/*" multiple>(hold control or shift to select multiple)</br></br>

	Height:<input type = "text" name = "height" value = ""></br></br>

*to select multiple, hold: windows - control, mac - command </br></br>

	Styles: </br>
	<select name = "styles" style = "font-size: 20px" multiple>
		<option value = "standard">Standard</option>
		<option value = "latin">Latin</option>
		<option value = "smooth">Smooth</option>
		<option value = "rhythm">Rhythm</option>
		<option value = "hustle">Hustle</option>
		<option value = "salsa">Salsa</option>
		<option value = "zouk">Zouk</option>
		<option value = "argentine-tango">Argentine Tango</option>
		<option value = "bachata">bachata</option>
		<option value = "silverscreen">Silver Screen</option>
		<option value = "others">Others</option>
	</select></br></br>

	Locations: </br>
	<select name = "locations" style = "font-size: 20px" multiple>
		<option value = "new_york">New York</option>
		<option value = "boston">Boston</option>
		<option value = "california">California</option>
		<option value = "italy">Italy</option>
		<option value = "russia">Russia</option>
		<option value = "england">England</option>
		<option value = "east_coast">U.S. East Coast (others)</option>
		<option value = "west_coast">U.S. West Coast(others)</option>
		<option value = "europe">Europe(others)</option>
		<option value = "asia">Asia</option>
		<option value = "others">Others</option>
	</select></br></br>



	Which Studio and Your Pricing Description:<alert>*required</alert></br><input type = "textarea" style = "width:300px; height: 100px" name = "price" value = ""></br></br>


	About You:<alert>*required</alert></br><textarea style = "width: 600px;height: 200px" name = "profile" value = ""></textarea></br></br>

	Youtube links to your work:<alert>competition videos/showcases etc., <b>separated by comma</b></alert></br><textarea style = "width: 600px;height: 200px" name = "youtube_vids" value = ""></textarea></br></br>

	<input style = "font-size:40px"type = "submit" value = "get started as teacher!">
</form>