
body{
	background-color: beige;
	font-family: "Lucida Console",Monaco, monospace;
}
div{
	text-align: center;
}
.nav{
	text-align: center;
	background-color: khaki;
	font-size: 20 px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.g-signin2{
	display: inline;
}

.user-info{
	display: none;
}

#sign-in{
	
}

a{
	padding: 5px;
    color: #000000;
    text-underline-offset: 5px;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    background-color: "golden rod";
}

h2{
	color :gray;
	text-align: center;
	font-family: impact, Charcoal, sans-serif;
	font-size: 40px;
	text-shadow: 5px 10px 5px #999999;
}
table{
	width: 100%;
}

table, th, td{
	boarder: 1px solid lightgrey;
	border-collabpse: collapse;
}

th,td{
	padding: 2px 4px;
}